<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hadush"
        tools:targetApi="31">
        <activity
            android:name="com.PdfAcivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".RightActivity2"
            android:exported="false" />
        <activity
            android:name=".TopActivity2"
            android:exported="false" />
        <activity
            android:name=".TopActivity1"
            android:exported="false" />
        <activity
            android:name=".RightActivity5"
            android:exported="false" />
        <activity
            android:name=".RightActivity4"
            android:exported="false" />
        <activity
            android:name=".RightActivity3"
            android:exported="false" />
        <activity
            android:name=".RightActivity1"
            android:exported="false" />
        <activity
            android:name=".LeftActivity5"
            android:exported="false" />
        <activity
            android:name=".LeftActivity4"
            android:exported="false" />
        <activity
            android:name=".LeftActivity3"
            android:exported="false" />
        <activity
            android:name=".LeftActivity2"
            android:exported="false" />
        <activity
            android:name=".LeftActivity1"
            android:exported="false" />
        <activity
            android:name=".OneActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>